/* ---------- FULL PAGE STYLE ---------- */
body {
  font-family: 'Raleway', Helvetica, sans-serif; }

* {
  box-sizing: border-box; }

.wrapper {
  width: 80%;
  margin: auto; }

/* ---------- START HEADER STYLE ---------- */
header {
  background-color: #B3C276;
  height: 33em; }

.headercontent {
  width: 75%;
  margin: auto; }

.headercontent .headerleft {
  display: inline-block;
  float: left; }

.headercontent nav {
  display: inline-block;
  float: right;
  font-size: 1.6em; }

.headercontent nav li {
  list-style: none;
  display: inline; }

.headercontent nav li a {
  text-decoration: none;
  color: white; }

.headercontent nav li a:hover {
  text-decoration: underline; }

/* ---------- START QUESTION STYLE ---------- */
.allquestions {
  width: 80%;
  margin: auto;
  margin-top: 5em;
  font-size: 1.5em; }

h5 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 1em; }

#addBtn {
  display: inline-block;
  float: left; }

#multiplyBtn {
  display: inline-block;
  float: left; }

.question {
  margin-top: 3em;
  border-bottom: 1px solid #ccc; }

.answer {
  margin-top: 2em;
  margin-bottom: 2em;
  clear: both; }

input {
  padding-left: 1em;
  padding-right: 2em; }

.compareWord {
  display: inline-block;
  float: left; }

.otherWords {
  display: inline-block;
  float: left; }

.finalQuestion {
  clear: both; }

.submitBtn8 {
  display: block;
  clear: both; }
