$green: #B3C276;


body {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 62.5%;
  max-width: 1635px;
}

.questions {
  width: 75%;
  margin: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

h2 {
  text-align: left;
  margin-top: 100px;
  font-family: Helvetica, sans-serif;
  font-size: 6vh;
  font-family: 'Lobster', cursive;
  margin-bottom: 2px;
}

h3 {
  font-size: 3vh;
  margin-top: 0px;
}

.leftbar {
  width: 100%;
  background-color: $green;
  font-size: 1.5em;
  margin: auto;
  border: 1px solid #ccc;

  p {
    line-height: 150%;
    padding: 1em;
  }

  .share {
    text-align: center;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }
}

.mainimage {
  width: 100%;
  display: block;
  margin-top: 5em;
  position: relative;
}

.mainimage img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.mainimage .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

h4 {
  color: black;
  text-align: center;
  font-size: 4em;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-family: 'Lobster', cursive;
}

.mainimage:hover .overlay {
  background: rgba(255, 255, 255, 0.7);
}
