body {
  min-width: 435px;
}

h4 {
  color: black;
  text-align: center;
  font-size: 2.8em;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-family: 'Lobster', cursive;
}
